{{define "header"}}
<!DOCTYPE html>
<html>

<head>
    <title>Colibri - Community space</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"></script>
    <style type="text/css">
        body {
            padding-bottom: 70px;
        }

        .content {
            margin: 10px;
        }
    </style>
</head>

<body>
    <div class="ui inverted segment">
        <div class="ui inverted secondary pointing menu">
          <a href="/" class="item">
            Home
          </a>
          <a href="/communities" class="item">
            Communities
          </a>
          <div class="right menu">
            <a class="item">Sign Up</a>
            <a class="item">Log In</a>
          </div>
        </div>
    </div>
{{end}}